body{
    margin: 0;
}
header{
    background: #03a9f4;
    text-align: center;
}
.logo{
    color: #fff;
    font-size: 40px;
    font-family: 'Anton';
}
header input{
    margin: 20px 0;
    font-size: 20px;
}
.non-active{
    background: red;
}
.active{
    background: blue;
}