.news_item{
    border: 1px solid #ccc;
    padding: 8px 5px 0 5px;
    background: #fff;
}
.news_item h2{
    font-size: 13px;
    line-height: 21px;
    margin: 5px 0;
    color: #525252;
}
.newsList_wraper{
    box-sizing: border-box;
    opacity: 0;
    transform: translateX(-100%);
    transition: all 0.5s;
}
.newsList_wraper_enter{
    transform: translateX(0%);
    opacity: 1;
}